<div class="content text-center">
    <div class="text-huge"><h1>Laravel 5<h1></div>
    <div class="text-huge"><h1>+</h1></div>
    <div class="text-huge">Angular</div>

    <h2>Dialogs</h2>
    <button class="btn btn-danger" ng-click="launch('error')">Error Dialog</button>
    <button class="btn btn-primary" ng-click="launch('wait')">Wait Dialog</button>
    <button class="btn btn-primary" ng-click="launch('customwait')">"Custom" Wait Dialog</button>
    <button class="btn btn-default" ng-click="launch('notify')">Notify Dialog</button>
    <button class="btn btn-success" ng-click="launch('confirm')">Confirm Dialog</button>
    <h2>Spin button<h2>
    <button class="btn btn-danger" ladda="isSpinning" ng-click="showSpinner()" data-style="expand-right">Show spinner</button>
</div>

<div class="content">
    <h2>Table Example</h2>

    <table class="table" table-control table-collection="tableData" table-default-sort="name">
        <thead>
            <tr>
                <th table-sortable="name">Name</th>
                <th table-sortable="age">Age</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in tableData">
                <td>{{item.name}}</td>
                <td>{{item.age}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="content" ng-if="isAuthenticated">
    <div ng-if="!contacts.length">
        <h2>Import contacts from csv</h2>
        <div>
            <attach-files files="importFiles"
                          type="contact-imports"
                          multiple=false
                          accept=".csv"></attach-files>
        </div>
        <div class="clearfix"></div>
        <div style="margin-top: 20px">
            <button ng-if="importFiles.length" type="button"
                class="btn btn-warning"
                ladda="importingContacts"
                data-style="expand-left"
                ng-click="importContacts(importFiles)">Import contacts</button>
        </div>
    </div>

    <div ng-if="contacts.length">
        <h2>Imported contacts:</h2>
        <ul>
            <li ng-repeat="contact in contacts">{{ contact.email }}</li>
        </ul>
    </div>
</div>