<div class="content text-center">
    <div class="text-huge"><h1>Laravel 5<h1></div>
    <div class="text-huge"><h1>+</h1></div>
    <div class="text-huge">Angular</div>

    <h2>Dialogs</h2>
    <button class="btn btn-danger" ng-click="launch('error')">Error Dialog</button>
    <button class="btn btn-primary" ng-click="launch('wait')">Wait Dialog</button>
    <button class="btn btn-primary" ng-click="launch('customwait')">"Custom" Wait Dialog</button>
    <button class="btn btn-default" ng-click="launch('notify')">Notify Dialog</button>
    <button class="btn btn-success" ng-click="launch('confirm')">Confirm Dialog</button>
    <h2>Spin button<h2>
    <button class="btn btn-danger" ladda="isSpinning" ng-click="showSpinner()" data-style="expand-right">Show spinner</button>
</div>