<div id="flash-messages" ng-show="flashMessages.length" style="position: absolute; z-index: 9999; top: 12px; right: 12px; min-width: 200px;">
    <alert ng-repeat="message in flashMessages"
           ng-if="message.closable === false"
           type="{{message.type}}">
        {{message.content}}
    </alert>

    <alert ng-repeat="message in flashMessages"
           ng-if="message.closable !== false"
           type="{{message.type}}"
           close="closeAlert($index)">
        {{message.content}}
    </alert>
</div>
